<div class="page-header">
    <h1>Add Simple Text</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <form ng-submit="save()" class="form" role="form">
            <div class="row">
                <div class="form-group ">
                    <div class="col-sm-5">
                        <label for="inputEmail3" class=" ">Title</label>

                        <input type="text" class="form-control " ng-model="sitd.title" placeholder="Title">

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group ">
                    <div class="col-sm-5">
                        <label for="inputEmail3" class=" ">Type</label>

                        <select  class="form-control" ng-model="sitd.type" ng-options="m for m in modes" ng-change="modeChanged()"></select>

                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="form-group">
                    <div class="col-sm-6">
                        <label>Body</label>
                        <div ui-ace="aceOption" ng-model="sitd.body"></div>
                    </div>
                    <div class="col-sm-6 ">
                        <label>Preview</label>
                        <div class="markd" ng-show="sitd.type == 'Markdown'" marked="sitd.body"> 
                        </div>
                        <div class="preview" ng-hide="sitd.type == 'Markdown'" hljs language="{{sitd.type| lowercase }}" source="sitd.body">

                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="form-group">
                    <div class="col-sm-9">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <a href="#/my-sitds" class="btn btn-default">Cancel</a>
                    </div>
                </div>
            </div>
        </form>
    </div>


</div>