        <div class="page-header">
            <h1>Simple Texts</h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a href="#/add" class="btn btn-primary">Add new Sitd</a>
                <hr>
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Type</th>
                            <th class="col-sm-3 ">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in sitdList">
                            <td>{{item.title}}</td>
                            <td><span class="label label-default">{{item.type}}</span></td>
                            <td>
                                <a target="_BLANK" href="public.html#/view/{{item.id}}" class="btn btn-primary">Public Link</a>
                                <a href="#/view/{{item.id}}" class="btn btn-default">Preview</a>
                                <a href="#/edit/{{item.id}}" class="btn btn-success">Edit</a>
                                <a ng-click="delete(item.id)" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>


        </div>